<div class="page-header">
  <h1><%= t('license.list.header') %></h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<% if @licenses.empty? %>
  <p> - <%= t('common.no_results_found') %> - </p>
<% else %>

  <div class="col-sm-12 without-padding">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th></th>
        <th>
          <%= link_to t('activerecord.attributes.license.created_at'), '#',
                      'data-field' => 'created_at',
                      class: "sort-link #{sort_class('created_at')}" %>
        </th>
        <% if admin? %>
          <th>
            <%= link_to t('activerecord.attributes.license.client_id'), '#',
                        'data-field' => 'client_id',
                        class: "sort-link #{sort_class('client_id')}" %>
          </th>
        <% end %>
        <th>
          <%= link_to t('activerecord.attributes.license.app_id'), '#',
                      'data-field' => 'app_id',
                      class: "sort-link #{sort_class('app_id')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.license.version_id'), '#',
                      'data-field' => 'version_id',
                      class: "sort-link #{sort_class('version_id')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.license.plan_id'), '#',
                      'data-field' => 'plan_id',
                      class: "sort-link #{sort_class('plan_id')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.license.license_type_id'), '#',
                      'data-field' => 'license_type_id',
                      class: "sort-link #{sort_class('license_type_id')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.license.license_status_id'), '#',
                      'data-field' => 'license_status_id',
                      class: "sort-link #{sort_class('license_status_id')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.license.end_client_name'), '#',
                      'data-field' => 'end_client_name',
                      class: "sort-link #{sort_class('end_client_name')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.license.installation_address'), '#',
                      'data-field' => 'installation_address',
                      class: "sort-link #{sort_class('installation_address')}" %>
        </th>

        <% if admin? %>
          <th>
            <%= link_to t('activerecord.attributes.license.user_id'), '#',
                        'data-field' => 'user_id',
                        class: "sort-link #{sort_class('user_id')}" %>
          </th>
        <% end %>

        <% if super_admin? %>
          <th>
            <%= link_to t('activerecord.attributes.license.hidden'), '#',
                        'data-field' => 'hidden',
                        class: "sort-link #{sort_class('hidden')}" %>
          </th>
        <% end %>
        <th><%= t('common.actions') %></th>
      </tr>
      </thead>

      <tbody>
      <% @licenses.each do |license| %>
        <tr>
          <td><%= check_box_tag 'select', 'yes', false, class: 'list-checkbox', 'data-id' => license.id %></td>
          <td><%= date_format(license.created_at) %></td>
          <% if admin? %>
            <td><%= license.client.name %></td>
          <% end %>
          <td><%= license.app.name %></td>
          <td><%= license.version.number %></td>
          <td><%= license.plan.send("val_#{I18n.locale}") %></td>
          <td><%= license.license_type.send("val_#{I18n.locale}") %></td>
          <td><%= license.license_status.send("val_#{I18n.locale}") %></td>
          <td><%= license.end_client_name %></td>
          <td><%= license.installation_address %></td>
          <% if admin? %>
            <td><%= license.user&.full_name %></td>
          <% end %>
          <% if super_admin? %>
            <td><%= fa_icon(license.hidden ? 'times' : 'check') %></td>
          <% end %>
          <td class="action-links">
            <%= link_to fa_icon('unlock', text: t('license.generate_code')), generate_unlock_code_license_path(license), class: 'action-link', data: { confirm: t('license.are_you_sure') }, method: :put %>
            <br>
            <%= link_to fa_icon('eye', text: t('common.view')), license, class: 'action-link' %><br>
            <%= link_to fa_icon('pencil', text: t('common.edit')), edit_license_path(license), class: 'action-link' %>
            <br>
            <%= link_to fa_icon('times', text: t('common.delete')), license, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'action-link' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>
