<div class="page-header">
  <h1><%= t('license.navbar.register_license') %> <%= @license.id %></h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= form_with(model: @license, url: registration_license_path(@license), local: true, class: 'form-horizontal denser') do |form| %>

  <div class="fieldset">

    <% if @license.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@license.errors.count, 'error') %>
          <%= t('license.errors.prohibited') %>
        </h2>

        <ul>
          <% @license.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group control-group">
      <%= form.label :id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :id, required: true, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :end_client_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :end_client_name, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :installation_address, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :installation_address, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :description, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :description, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :registration_key, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :registration_key, required: true, class: 'form-control' %>
      </div>
    </div>


    <div class="form-group control-group">
      <div class='col-sm-2'></div>
      <div class='col-sm-8'>
        <%= form.button :submit, class: 'btn btn-primary btn-save' do %>
          <%= fa_icon('check', text: t('common.register')) %>
        <% end %>

        <%= link_to fa_icon('times', text: t('common.cancel')), licenses_path, class: 'btn btn-secondary' %>
      </div>
    </div>

  </div>

<% end %>
