<div class="page-header">
  <h1><%= t('license.show.view_license') %> <%= @license.id %></h1>
</div>

<%= render partial: 'nav_tabs' %>

<form class="form-horizontal denser fieldset col-sm-5 show-action">

  <div class="form-group control-group">
    <%= label_tag :id, t('activerecord.attributes.license.id'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :id, @license.id, class: 'form-control', readonly: true %>
    </div>
  </div>

  <% if admin? %>
    <div class="form-group control-group">
      <%= label_tag :client_id, t('activerecord.attributes.license.client_id'), class: 'col-sm-4 control-label' %>
      <div class="col-sm-8 controls">
        <%= text_field_tag :client_id, @license.client.name, class: 'form-control', readonly: true %>
      </div>
    </div>
  <% end %>


  <div class="form-group control-group">
    <%= label_tag :end_client_name, t('activerecord.attributes.license.end_client_name'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_area_tag :end_client_name, @license.end_client_name, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :installation_address, t('activerecord.attributes.license.installation_address'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_area_tag :installation_address, @license.installation_address, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :description, t('activerecord.attributes.license.description'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_area_tag :description, @license.description, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :order_number, t('activerecord.attributes.license.order_number'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :order_number, @license.order_number, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :registration_key, t('activerecord.attributes.license.registration_key'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :registration_key, @license.registration_key, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :unlock_code, t('activerecord.attributes.license.unlock_code'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :unlock_code, @license.unlock_code, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :plans_id, t('activerecord.attributes.license.plan_id'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :plans_id, @license.plan.send("val_#{I18n.locale}"), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :license_status_id, t('activerecord.attributes.license.license_status_id'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :license_status_id, @license.license_status.send("val_#{I18n.locale}"), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :license_type_id, t('activerecord.attributes.license.license_type_id'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :license_type_id, @license.license_type.send("val_#{I18n.locale}"), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :version_id, t('activerecord.attributes.license.version_id'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :version_id, @license.version.number, class: 'form-control', readonly: true %>
    </div>
  </div>

  <% if admin? %>
    <div class="form-group control-group">
      <%= label_tag :user_id, t('activerecord.attributes.license.user_id'), class: 'col-sm-4 control-label' %>
      <div class="col-sm-8 controls">
        <%= text_field_tag :user_id, @license.user&.full_name, class: 'form-control', readonly: true %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= label_tag :client_id, t('activerecord.attributes.license.client_id'), class: 'col-sm-4 control-label' %>
      <div class="col-sm-8 controls">
        <%= text_field_tag :client_id, @license.client.name, class: 'form-control', readonly: true %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= label_tag :origin_id, t('activerecord.attributes.license.origin_id'), class: 'col-sm-4 control-label' %>
      <div class="col-sm-8 controls">
        <%= text_field_tag :origin_id, @license.origin_id, class: 'form-control', readonly: true %>
      </div>
    </div>
  <% end %>

  <% if super_admin? %>
    <div class="form-group control-group">
      <%= label_tag :hidden, t('activerecord.attributes.license.hidden'), class: 'col-sm-4 control-label' %>
      <div class="col-sm-8 controls">
        <%= text_field_tag :hidden, @license.hidden ? t('common.hidden') : t('common.visible'), class: 'form-control', readonly: true %>
      </div>
    </div>
  <% end %>

  <div class="form-group control-group">
    <%= label_tag :updated_at, t('activerecord.attributes.license.updated_at'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :updated_at, date_format(@license.updated_at), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group control-group">
    <%= label_tag :created_at, t('activerecord.attributes.license.created_at'), class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 controls">
      <%= text_field_tag :created_at, date_format(@license.created_at), class: 'form-control', readonly: true %>
    </div>
  </div>

</form>


<div class="col-sm-1"></div>
<div class="col-sm-2 qr-code small">
  <br>
  <% if admin? && @license.origin_id.present? %>
    <%= link_to license_path(@license.origin_id), class: 'btn btn-primary btn-save', target: '_blank' do %>
      <%= fa_icon('unlock', text: t('license.go_to_origin')) %>
    <% end %>
    <br>
    <br>
  <% end %>


  <% if @license.license_status.val_en == 'New' %>
    <%= link_to register_license_path(@license), class: 'btn btn-primary btn-save' do %>
      <%= fa_icon('unlock', text: t('license.registration')) %>
    <% end %>
    <br>
    <br>
  <% end %>

  <% if admin? %>
    <%= link_to duplicate_license_path(@license, type: 'transfer'), class: 'btn btn-primary btn-save' do %>
      <%= fa_icon('exchange', text: t('license.transfer')) %>
    <% end %>
    <br>
    <br>
    <%= link_to duplicate_license_path(@license, type: 'update'), class: 'btn btn-primary btn-save' do %>
      <%= fa_icon('external-link', text: t('license.update')) %>
    <% end %>
    <br>
    <br>
  <% end %>
</div>
