<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

  </head>
  <body>
    <div class='wrap' style='max-width: 80em; padding: 1em;'>
    	<h1>Wygenerowano automatycznie przez Generator Licencji</h1>
    	<h3>Użytkownik <%= @user_email %> | <%= @company_name%></h3>
    	<p>Szczegóły licencji</p>
    	<ul>
    		<li>Aplikacja: <%= @app_name %></li>
    		<li>Wersja: <%= @version_name %></li>
			<li>Numer wersji: <%= @user_license.version_no %></li>
			<li>Ilość wag: <%= @user_license.scales_amount %></li>
			<li>Typ licencji: <%= @license_type %></li>
            <li>Data serwera: <%= DateTime.now().strftime("%Y-%m-%d %H:%M") %></li>
			<!-- <li>Poprzedni kod licencji (nd. nowych licencji): <%= @user_license.old_app_code %></li> -->
			<li>Klucz rejestracyjny: <%= @user_license.register_key %></li>
			<li>Opis: <%= @user_license.description %></li>
    	</ul>
		<h2>Nowa licencja: <b><%= @user_license.new_app_code %></b></h2>
    	<div class='footer' style='font-size:85%; color: #666;'>
        	<p>Ten mail jest wygenerowany automatcznie, w razie jakichkolwiek pytań proszę o kontakt z naszym biurem: </p>
            <p>office@gs-software.pl lub (+48) 12 357 67 57</p>
        	<p>GS Software<br>
        	ul. Ogłęczyzna 20 <br>
        	31-589 Kraków <br>
        	VAT ID: 679-30-98-450 </p>
    	</div>
    </div>
  </body>
</html>
