<%= form_with(model: type, local: true, class: 'form-horizontal denser') do |form| %>

  <div class="fieldset">

    <% if type.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(type.errors.count, 'error') %>
          <%= t('type.errors.prohibited') %>
        </h2>

        <ul>
        <% type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group control-group">
      <%= form.label :id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :id, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :value, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :value, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :pl, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :pl, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :en, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :en, required: true, class: 'form-control' %>
      </div>
    </div>

    <% if super_admin? %>
      <div class="form-group control-group">
        <%= form.label :hidden, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10 controls">
          <%= form.select :hidden, options_for_hidden, {}, class: 'form-control' %>
        </div>
      </div>

      <%= hidden_field_tag :'type[hidden_at]', type.hidden_at %>

    <% end %>

    <div class="form-group control-group">
      <div class='col-sm-2'></div>
      <div class='col-sm-8'>
        <%= form.button :submit, class: 'btn btn-primary btn-save' do %>
          <%= fa_icon('check', text: t('common.save')) %>
        <% end %>

        <%= link_to fa_icon('times', text: t('common.cancel')), types_path, class: 'btn btn-secondary' %>
      </div>
    </div>

  </div>

<% end %>
