<nav class="navbar fixed-top navbar-light">

  <div class="navbar-header">

    <%= link_to 'GS Lic Manager', licenses_path, class: 'navbar-brand' %>

    <% if user_signed_in? %>
      <%= nav_link t('menu.licenses'), licenses_path %>
    <% end %>

    <% if admin? %>
      <%= nav_link t('menu.users'), users_path %>
      <%= nav_link t('menu.clients'), clients_path %>
    <% end %>

    <% if super_admin? %>
      <%= nav_link t('menu.license_states'), license_statuses_path %>
      <%= nav_link t('menu.license_types'), license_types_path %>
      <%= nav_link t('menu.plans'), plans_path %>
      <%= nav_link t('menu.versions'), versions_path %>
      <%= nav_link t('menu.apps'), apps_path %>
      <%= nav_link t('menu.admins'), admins_path %>
    <% end %>

  </div>

  <div class='pull-right'>
    <% if user_signed_in? %>
      <span class="login-username">
        <%= "#{current_user.full_name}" %>
      </span>
      <% if I18n.locale == :pl %>
        <%= link_to image_tag('pl_50.png', class: 'i18n-flag'), locale_set_path(locale: 'en'), method: :patch %>
      <% else %>
        <%= link_to image_tag('en_50.png', class: 'i18n-flag'), locale_set_path(locale: 'pl'), method: :patch %>
      <% end %>
      <%= link_to t('devise.logout'), destroy_user_session_path, { method: 'delete', class: 'link' } %>
    <% else %>
      <%= link_to t('devise.login'), new_user_session_path, class: 'link' %>
    <% end %>
  </div>

</nav>
