<%= form_with(model: app, local: true, class: 'form-horizontal denser') do |form| %>

  <div class="fieldset">

    <% if app.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(app.errors.count, 'error') %>
          <%= t('app.errors.prohibited') %>
        </h2>

        <ul>
        <% app.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group control-group">
      <%= form.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :name, required: true, class: 'form-control' %>
      </div>
    </div>

    <% if super_admin? %>
      <div class="form-group control-group">
        <%= form.label :hidden, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10 controls">
          <%= form.select :hidden, options_for_hidden, {}, class: 'form-control' %>
        </div>
      </div>

      <%= hidden_field_tag :'app[hidden_at]', app.hidden_at %>

    <% end %>

    <div class="form-group control-group">
      <div class='col-sm-2'></div>
      <div class='col-sm-8'>
        <%= form.button :submit, class: 'btn btn-primary btn-save' do %>
          <%= fa_icon('check', text: t('common.save')) %>
        <% end %>

        <%= link_to fa_icon('times', text: t('common.cancel')), apps_path, class: 'btn btn-secondary' %>
      </div>
    </div>

  </div>

<% end %>
